p {

    font-size: 100px;
    color: brown;
}











/*Eigil*/

h1 {
    color: darkgoldenrod;
}






/*Eigil*/

/*Sofie*/

h1 {
    background-color: darkorange;

}








/*Sofie*/

/*Nikoline*/












/*Nikoline*/
> > > > > > > origin/master > > > > > > > origin/master
