p {
    font-size: 100px;
    color: brown;
}











/*Eigil*/










/*Eigil*/

/*Sofie*/










/*Sofie*/

/*Nikoline*/


h1 {
    font-family: fantasy;
    font-size: 4rem;
}









/*Nikoline*/
> > > > > > > origin/master
